<footer class="bg-white">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between">
      <p class="text-gray-600">&copy; 2025 <a href="https://www.la-voie-des-parents.fr" target="_blank" class="text-cyan-700">La voie des parents</a>. Tous droits réservés.</p>
      <!--<div class="space-x-4">
        <a href="#" class="text-gray-600 hover:text-indigo-600">Accueil</a>
        <a href="#" class="text-gray-600 hover:text-indigo-600">Fonctionnalités</a>
        <a href="#" class="text-gray-600 hover:text-indigo-600">Tarifs</a>
        <a href="#" class="text-gray-600 hover:text-indigo-600">Contact</a>
      </div>-->
    </div>
  </div>
</footer>
