<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <img class="h-8 w-auto" src="images/logo.webp" alt="Logo">
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a href="{{ site.baseurl }}/" class="border-b-2 border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium">Accueil</a>
          <!--<a href="/livres.html" class="border-b-2 border-transparent text-gray-900 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 text-sm font-medium">Nos livres</a>
          <a href="/recommandations.html" class="border-b-2 border-transparent text-gray-900 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 text-sm font-medium">Nos recommandations</a>-->
          <a href="https://boutique.la-voie-des-parents.fr/contact" target="_blank" class="border-b-2 border-transparent text-gray-900 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 text-sm font-medium">Contact</a>
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <a href="https://www.la-voie-des-parents.fr/diagnostic/diagnostic-offert/" class="bg-indigo-600 text-white px-3 py-2 shadow-lg text-sm font-medium hover:bg-indigo-700"><strong>Diagnositc Parentalité Offert</strong></a>
      </div>
      <div class="flex items-center sm:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500" aria-expanded="false" aria-label="Toggle menu" onclick="toggleMobileMenu()">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="sm:hidden" id="mobile-menu" style="display: none;">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a href="{{ site.baseurl }}/" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:text-gray-700 hover:bg-gray-50">Accueil</a>
      <!--<a href="/livres.html" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:text-gray-700 hover:bg-gray-50">Nos livres</a>
      <a href="/recommandations.html" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:text-gray-700 hover:bg-gray-50">Nos recommandations</a>-->
      <a href="https://boutique.la-voie-des-parents.fr/contact" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:text-gray-700 hover:bg-gray-50">Contact</a>
      <a href="https://www.la-voie-des-parents.fr/diagnostic/diagnostic-offert/" class="w-full bg-indigo-600 text-white px-3 py-2 shadow-lg font-medium hover:bg-indigo-700"><strong>Diagnositc Parentalité Offert</strong></a>
    </div>
  </div>
</nav>

<script>
  function toggleMobileMenu() {
    const menu = document.getElementById('mobile-menu');
    if (menu.style.display === 'none' || menu.style.display === '') {
      menu.style.display = 'block';
    } else {
      menu.style.display = 'none';
    }
  }
</script>


